/* Variables globales */
:root {
  --main-font: Arial, sans-serif;
  --bg-color: hsl(219, 68%, 90%); /* Fondo claro */
  --text-color: hsl(220, 20%, 20%); /* Texto oscuro */
  --button-bg: hsl(200, 70%, 50%); /* Fondo botones */
  --button-hover-bg: hsl(200, 80%, 40%); /* Fondo botones al pasar el ratón */
  --button-text: #ffffff; /* Texto de los botones */

  --circle-color: hsl(200, 70%, 50%); /* Color principal para los 7 círculos */
  --highlight-color: hsl(0, 70%, 50%); /* Color distinto para el último círculo */
  --circle-size: 2rem; /* Tamaño de los círculos */
  --animation-duration: 2s; /* Duración de la animación */
  --animation-size: 26rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido al final */
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

/* Título */
h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Botones */
button {
  width: 7rem;
  height: 3rem;
  margin: 0.5rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}

.animation-container {
  position: relative;
  width: var(--animation-size);
  height: var(--animation-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Circulo rojo */
.circle1 {
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--highlight-color);
  border-radius: 50%;
  position: absolute;
  animation: animation-circle1 var(--animation-duration) infinite alternate
    ease-in-out;
}

/* Resto de circulos */

.circle {
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--circle-color);
  border-radius: 50%;
  position: absolute;
}

/* Cada circulo tiene un delay distinto */
.circle2 {
  animation: animation-circle2 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-1 * var(--animation-duration) / 8);
}

.circle3 {
  animation: animation-circle3 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-2 * var(--animation-duration) / 8);
}

.circle4 {
  animation: animation-circle4 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-3 * var(--animation-duration) / 8);
}

.circle5 {
  animation: animation-circle5 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-4 * var(--animation-duration) / 8);
}

.circle6 {
  animation: animation-circle6 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-5 * var(--animation-duration) / 8);
}

.circle7 {
  animation: animation-circle7 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-6 * var(--animation-duration) / 8);
}

.circle8 {
  animation: animation-circle8 var(--animation-duration) infinite alternate
    ease-in-out;
  animation-delay: calc(-7 * var(--animation-duration) / 8);
}


/* Las animaciones toman como parametro el seno y el coseno */
@keyframes animation-circle1 {
  0% {
    transform: translate(
      calc(calc(1 * cos(0deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(0deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(0deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(0deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle2 {
  0% {
    transform: translate(
      calc(calc(1 * cos(22.5deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(22.5deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(22.5deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(22.5deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle3 {
  0% {
    transform: translate(
      calc(calc(1 * cos(45deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(45deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(45deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(45deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle4 {
  0% {
    transform: translate(
      calc(calc(1 * cos(67.5deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(67.5deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(67.5deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(67.5deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle5 {
  0% {
    transform: translate(
      calc(calc(1 * cos(90deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(90deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(90deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(90deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle6 {
  0% {
    transform: translate(
      calc(calc(1 * cos(112.5deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(112.5deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(112.5deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(112.5deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle7 {
  0% {
    transform: translate(
      calc(calc(1 * cos(135deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(135deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(135deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(135deg)) * var(--animation-size) / 2)
    );
  }
}

@keyframes animation-circle8 {
  0% {
    transform: translate(
      calc(calc(1 * cos(157.5deg)) * var(--animation-size) / 2),
      calc(calc(1 * sin(157.5deg)) * var(--animation-size) / 2)
    );
  }
  100% {
    transform: translate(
      calc(calc(-1 * cos(157.5deg)) * var(--animation-size) / 2),
      calc(calc(-1 * sin(157.5deg)) * var(--animation-size) / 2)
    );
  }
}
